<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block meta %}
        
        {% endblock meta %}
        <title>{% block title %} {% endblock %}</title>

        {% load static %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'global/css/basic.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block css %} {% endblock %}
    </head>

    <body>
        {% include 'global/includes/navbar.html' %}

        {% block content %} {% endblock %}
        
        {%include 'global/includes/footer.html' %}
    </body>


    {% block script %} {% endblock %}

</html>
