{% extends 'global/base.html' %}

{% block title %}
  Ske Blog - Forget Password
{% endblock %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'authenticationApp/css/authenticationapp.css' %}" />
{% endblock %}

{% block content %}
  <div class="authentication-container">
    <h1>Password Reset</h1>
    {% if messages %}
      {% for msg in messages %}
        <p class="message">{{msg}}</p>
      {% endfor %}
    {% else %}
      <div class="registration-container">
        <form method="POST">
          <div class="input-container">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <button id="submit-form-button" type="submit">Send Link</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block script%}
  <script>
    document.getElementById("email-field").focus()
  </script>
{% endblock %}